.container{
  position: relative;
  display: flex ;
  justify-content: flex-start;
  width: 1836px;
  height: 71px;
  margin: auto;
  margin-top: 38px;
}
.right-side-info{
  display: flex;
  justify-content: flex-end;
  margin-right: 0;
}