.container{
  position: relative;
  display: flex ;
  justify-content: space-between;
  width: 98vw;
  height: 71px;
  margin: auto;
  margin-top: 38px;
}
.right-side-info{
  display: flex;
  justify-content: flex-end;
  margin-right: 0;
}