.screenEventList{
  display: flex;
  flex-direction: column;
  // height: 85vh;
  height: 100%;
  margin-right: 20px;
  margin: 0;
  margin-left: 9px;
  padding-right: 10px;
  overflow-x: hidden;
  overflow-y: auto;
}