
.header-menu-cross {
  /*position: fixed;
  top: 5px;
  left: 55px;*/
  height: 44px;
  width: 44px;
  margin-left: 50px;
  margin-right: 0;
  display: inline-block;
  float: left;
  text-align: left;
}

a {
  text-decoration: none;
  font-family: SF UI Display;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.00636364em;
}

.header-menu-visible {
  left: 5px;
  opacity: 1;
  transition: .5s;
}

.header-menu-hidden {
  left: -100%;
  opacity: 0;
  transition: .5s;
}

$icon_classes: (
        'icon': 'header-menu-icon',
        'crossed': 'header-menu-icon-crossed',
        'crossed-reverse': 'header-menu-icon-crossed-reverse'
);

.header-menu-icon {
  width: 60px;
  height: 5px;
  margin: 9px 9px;
  background-color: black;
  border-radius: 1px;
  transition: .5s;
}
.header-menu-icon.menu-visible{
  background: #FEBA00;
}
.header-menu-icon-crossed {
  transform: rotate(45deg) translate(2px, -5px);
  transform-origin: top left;
}

.header-menu-icon-crossed-reverse {
  transform: rotate(-45grad) translateX(10px) translateY(-29px);
  transform-origin: bottom right;
}

.header-menu-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header-menu-subItem{
  display: block;
}