$black: #363636;
$black-classic:#000000;
$white: white;
$blue: #65AEE4;
$dark-grey: #363636;
$dark-grey2: #444343;
$grey: #787878;
$light-grey: #F5F5F5;
$medium-grey: #979797;
$medium-grey2: #C3CBCE;
$light-blue: #10ADF7;