.edit-place-category {
  margin-bottom: 34px;
}

.edit-place-category_title {
  margin-bottom: 10px;
  padding: 0 53px;
  font-size: 32px;
  text-align: left;
}

.edit-place-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 0 20px;
  font-size: 16px;
  list-style: none;

  &:hover {
    background: rgba(233, 240, 249, .5);
  }

  .place-item_lef-sidebar {
    display: flex;
  }

  .place-item_text {
    padding-left: 5px;
  }
}

.place-address {
  color: #7D7878;
  font-size: 14px;
}

.place-item_burger_menu {
  .burger-menu_line {
    width: 20px;
    height: 1px;
    margin-bottom: 5px;
    background-color: #000000;
  }
}
