.header-current-weather{
  margin: 0;
  padding: 0;
}
.header-current-weather-icon {
  width: 43px;
  height: 35px;
  margin-top: 0;
  margin-right: 12px;
}
.header-current-weather-info{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.header-weather-info-item{
  margin-left: 0;
  color: #585858;
  font-size: 18px;
  line-height: 16px;
  letter-spacing: .00636364em;
}

