@import "../../../styles/_variables.scss";

.section-item {
  width: 250px;
  height: 185px;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 2px 2px 12px #EDF2F5;

  &__img {
    height: 130px;
    background-image: url("https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwjFgu7X2MbiAhWMxIsKHSrsDecQjRx6BAgBEAU&url=https%3A%2F%2Fen.wikipedia.org%2Fwiki%2FCity_Mall_(Amman)&psig=AOvVaw1MCHTQvUERoXMnXR4R2Wdj&ust=1559423844504855");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px 16px 0 0;
  }

  &__text {
    margin-bottom: 10px;
    padding: 0 20px;
  }

  &__title {
    padding-top: 10px;
    color: #424242;
    font-weight: 700;
    font-size: 17px;
    text-align: left;
  }

  &__address {
    color: #CACACA;
    font-size: 14px;
    text-align: left;
  }

  &__message-cont {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 250px;
    height: 110px;
    padding-right: 10px;
    padding-left: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 16px;
    box-shadow: 2px 2px 12px #EDF2F5;
  }

  &__header{
    display: flex;
    justify-content: space-between;
  }

  &__del-btn{
    @include button-reset;
    align-self: flex-end;
    width: 25px;
    height: 25px;
    margin-top: 6px;
    background: url("https://img.icons8.com/color/48/000000/cancel.png") no-repeat center;
    background-size: 25px 25px;
    border-radius: 50%;
  }

  &__add-btn {
    @include button-reset;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    width: 25px;
    height: 25px;
    color: $white;
    font-size: 20px;
    background-color: $light-blue;
    border-radius: 50%;
  }

  &__message{
    margin-top: 10px;
    text-align: left;
  }
}

.item-link {
  color: #424242;
  text-decoration: none;

  &:nth-child(n+1) {
    margin-right: 30px;
  }

  &:last-child {
    margin-right: 0;
  }
}