@import '../../styles/variables';

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: $dark-grey;

  &__outer-wrapper {
    position: absolute;
    top: 106px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
  }

  &__back-container {
    position: absolute;
    top: -120px;
    left: 20px;
  }

  &__back-button {
    color: #ffffff;
    font-size: 60px;
    opacity: .7;
  }

  &__menu {
    position: relative;
    width: 5px;
    height: 5px;
    background-color: $white;
    border-radius: 50%;

    &:before, &:after {
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: inherit;
      border-radius: inherit;
      content: "";
    }

    &:before {
      top: 10px;
    }

    &:after {
      top: 20px;
    }
  }

  &__text-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 95px;
    padding-top: 30px;
    font-weight: 600;
    font-family: 'SF Compact Text', sans-serif;
    text-align: left;
    background-repeat: no-repeat;
    background-position-y: 1px;
  }

  &__text-container-filled {
    background-color: rgba(255, 255, 255, .8);
  }

  &__title {
    margin: 30px 20px 0 20px;
    color: $dark-grey;
    font-size: 32px;
  }

  &__location {
    margin: 0 20px 0 20px;
    color: $medium-grey;
    font-size: 14px;
  }
}







