@import '../../styles/variables';

.parallax-header__items {
  display: flex;
  justify-content: space-between;
}

.parallax-header__items__menu {
  position: relative;
  width: 5px;
  height: 5px;
  background-color: $white;
  border-radius: 50%;
}

.parallax-header__items__menu:before, .parallax-header__items__menu:after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: inherit;
  border-radius: inherit;
  content: "";
}

.parallax-header__items__menu:before {
  top: 10px;
}

.parallax-header__items__menu:after {
  top: 20px;
}

.parallax-header__text__link {
  margin: 0;
  padding-bottom: 8px;
  color: $dark-grey;
  font-weight: 600;
  font-size: 32px;
  font-family: 'SF Compact Text';
  text-align: left;
}