.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  animation: App-logo-spin infinite 20s linear;
  pointer-events: none;
}

.App-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: white;
  font-size: calc(10px + 2vmin);
  background-color: #282c34;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* PARALLAX HEADER STYLES */

.parallax-container{
  width: 375px;
  height: 100vh;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 1px;
}

.parallax-group{
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
}

.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.parallax__layer--content {
  background-color: #fff;
  top: 223px;
  transform: translateZ(0);
}

.parallax__layer--parallax-header{
  top: -256px;
  height: 224px;
 /*scale factor calculation (to maintain original element size):
   1 + (translateZ * -1) / perspective*/
  transform: translateZ(-1px) scale(2);
}