@import "../../styles/variables";

.business-container {
  margin: 0 20px 100px 20px;
}

.bp {
  font-family: SF UI Text, sans-serif;

  &-wrapper {
    display: flex;
    flex-direction: column;
    height: 60vh;
    padding: 0 20px;
    color: #363636;
  }

  &-title {
    margin-top: 20px;
    font-size: 24px;
    text-align: left;
    text-transform: uppercase;
  }

  &-subtitle {
    margin-top: 10px;
    font-size: 20px;
    text-align: left;
    text-transform: uppercase;

    &__events {
      margin-top: 10px;
      margin-bottom: 28px;
      font-size: 20px;
      text-align: left;
      text-transform: uppercase;
    }
  }

  &_description {
    margin-top: 10px;
    text-align: left;
  }

  &-info {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;

    &_text {
      text-align: left;

    }
    &__photo {
      width: 150px;
      height: 150px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border: 2px solid #0fb9f1;
      border-radius: 50px;
    }
    &__categories {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      color: $dark-grey;
    }
  }
  &-places {
    display: flex;
    flex-basis: 45%;
    flex-direction: column;
    justify-content: space-between;

    &__item {
      font-weight: bold;
      text-align: left;
    }
  }
}