@import "../../styles/variables";
@import "../../styles/style";

.contacts {
  height: calc(100vh - 91px);
  overflow-y: scroll;

  .no_contacts {

    &-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      height: calc(100vh - 91px - 230px);
    }

    &-text {
      font-weight: 600;
      font-size: 26px;
    }

  }
}

.search-bar {
  position: relative;
}

.contacts-search {
  width: 90%;
  margin: 10px auto;
  padding: 8px 10px;
  border: 1px solid hsl(0,0%,80%);
  border-radius: 4px;
}

.search-icon {
  position: absolute;
  top: 15px;
  right: 20px;
  width: 20px;
  height: 20px;
}