@import "../../styles/variables";

.chat {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100vh;
  margin: 0;
  padding-bottom: 81.5px;

  &__header {
    display: flex;
    flex-shrink: 0;
    flex-basis: 30px;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 20px;
    font-weight: bold;
    text-align: center;
  }

  &__back-button{
    @include button-reset;
    flex-basis: 25%;
    height: 100%;
    padding-left: 17px;
    text-align: left;

    &:before, &:after{
      position: absolute;
      width: 12px;
      height: 1px;
      background-color: #000;
      content: "";
    }

    &:before{
      top: 20px;
      left: 19px;
      transform: rotate(45deg);
    }

    &:after{
      top: 12px;
      left: 19px;
      transform: rotate(-45deg);
    }
  }

  &__header-title{
    flex-basis: 50%;
    line-height: 28px;
  }

  &__envelope-icon{
    flex-basis: 25%;
    height: 100%;
    background: url("../../img/ChatPage/letter.png") no-repeat center;
    background-position-x: right;
  }

  &__messages {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
    padding: 12px 20px 0;
    overflow: auto;
  }

  &__input{
    flex-shrink: 0;
    flex-basis: 35px;
    box-sizing: border-box;
    padding: 5px 20px;

    input{
      box-sizing: border-box;
      width: 100%;
      padding: 7px 12px;
      border: 1px #C8C7CC solid;
      border-radius: 30px;
      box-shadow: 0 2px 2px 2px rgba(106, 106, 106, .2);

      &:focus{
        outline: none;
      }
    }
  }

  .chat-message{
    display: flex;
    min-height: 0;
    margin-bottom: 12px;
    font-weight: 400;
    font-family: SF UI Text, sans-serif;

    &__avatar-container{
    margin: 16px 14px 0 0;

      img{
        width: 30px;
        height: 30px;
        border-radius: 15px;
        box-shadow: 0 2px 2px 2px rgba(106, 106, 106, .2);
      }
    }

    &__text-container{
      display: flex;
      max-width: 70%;
      flex-direction: column;
      align-items: flex-start;
      text-align: left;

      .chat-message__content{
        background-color: #fff;
        box-shadow: 0 2px 2px 2px rgba(106, 106, 106, .2);
      }

      &--my-message{
        display: flex;
        flex-basis: 50%;
        flex-direction: column;
        align-items: flex-end;
        margin-left: auto;
        text-align: right;

        .chat-message__content{
          background-color: $message-blue;
        }

        .chat-message__name{
          text-align: left;
        }
      }
    }

    &__name{
      margin-bottom: 4px;
      padding-left: 12px;
      color: #8c8c8c;
      font-size: 11px;
    }

    &__content{
      padding: 8px 16px 8px 12px;
      color: #000;
      border-radius: 17px;
      font-size: 15px;
    }
  }
}