@import '../../styles/variables';

.bottom__menu {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: $bottom-menu-heigth;
    padding-bottom: 24px;
    background-color: #fff;
    border-top: .5px solid #BDBDBD;
    .item {
        display: flex;
        flex-direction: column;
        .link {
            text-decoration: none;
        }
        .fill {
            fill: rgb(15, 185, 241);
            stroke: rgb(15, 185, 241);
            stroke-opacity: 5;
            stroke-width: 10%;
        }
        .logo {
            width: 42px;
            height: 30px;
            padding-top: 14px;
            
        }
        .text {
            margin-top: -2px;
            color: $grey;
            font-size: 10px;
            font-family: 'SF Compact Text';
            letter-spacing: .012em;
        }
    }
}
