@import "../../styles/style";

.section-title {
  font-size: 22px;
  text-align: left;
}

.navbar {

  .menu {
    display: flex;
    justify-content: flex-start;
    margin: 10px 15px 38px;
    padding-left: 0;
    overflow-x: scroll;
    overflow-y: hidden;

    .menu-item {
      color: #2D2D2D;
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: .00636364em;
      text-align: center;
      list-style: none;

      &:nth-child(n+1) {
        margin-right: 20px;
      }

      &:last-child {
        margin-right: 0;
      }

      .menu-item_icon {
        width: 30px;
        height: 30px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
    }
  }

  .section-title {
    padding-left: 20px;
  }
}

.section {
  margin: 0 20px 16px;

  .section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .side-icon {
      width: 58px;
      height: 58px;
      background: #FFFFFF;
      border-radius: 50px;
      box-shadow: 0 1px 5px rgba(.1, .1, .1, .25);
    }
  }

  .side-title {
    color: #868686;
    font-size: 17px;
  }

  .section-list {
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
    overflow-x: scroll;
    overflow-y: hidden;
  }
}
