.place-category {
  margin-bottom: 34px;
}

.place-category_title {
  margin-bottom: 10px;
  padding: 0 20px;
  font-size: 32px;
  text-align: left;
}

.place-item {
  margin-bottom: 20px;
  padding: 0 20px;
  font-size: 16px;
  list-style: none;

  .item-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: inherit;
    text-decoration: none;
  }

  &:hover {
    background: rgba(233, 240, 249, .5);
  }

  &__container {
    display: flex;
    flex-direction: column;
    width: calc(100% - 30px);
  }
}

.place-address {
  color: #7D7878;
  font-size: 14px;
}
