$color_white: #fff;
$color_prime: #5ad67d;
$color_grey: #e2e2e2;
$color_grey_dark: #a2a2a2;

.business-item {
  display: flex;
  margin: 0 20px 20px;
  font-family: sans-serif;
  line-height: 1.4;
  background: $color_white;
  border-radius: 5px;
  box-shadow: 1px 3px 7px 2px rgba(#000, .2);
  cursor: pointer;

  .photo {
    width: 200px;
    height: 200px;
    background-position: center;
    background-size: cover;
  }
  .details,
  .details ul {
    margin: auto;
    padding: 0;
    list-style: none;
  }

  .description {
    position: relative;
    z-index: 1;
    padding: 1rem;
    background: $color_white;
    h2,
    h3 {
      font-family: Poppins, sans-serif;
    }
    h2 {
      margin: 10px 0;
      font-size: 1.7rem;
      line-height: 1;
    }
    h3 {
      margin-top: 5px;
      color: $color_grey_dark;
      font-weight: 300;
      font-size: 1rem;
      text-transform: uppercase;
    }
  }
  p {
    position: relative;
    margin: 1rem 0 0;
    &:first-of-type {
      margin-top: 1.25rem;
      &:before {
        content: "";
        position: absolute;
        top: -.75rem;
        width: 35px;
        height: 5px;
        background: #FEBA00;
        border-radius: 3px;
      }
    }
  }
}