.screenNewsItem {
  align-items: center;
  box-sizing: border-box;
  margin: 10px 0;
  border: 4px solid transparent;


  &:hover {
    border: 4px solid #FEBA00;
    border-radius: 5px;
    cursor: pointer;
  }
}

.screenNewsItem-description {
  width: 70%;
  margin: 0 0 0 14px;
  color: #1C1C1C;
  font-size: 14px;
}

.screenNewsItem-img {
  width: 100px;
  height: 100px;
  margin: 0;
  background: url('./../../../img/DummyImg/news-list/news-item-1.svg');
  background-size: cover;
}