@import "../../styles/style";

.content {
  position: absolute;
  top: 220px;
  width: 100%;
  margin-bottom: 100px;
  padding: 13px 0 0;
  background-color: #FFFFFF;
  border-radius: 16px;

  .content-title {
    padding-left: 20px;
  }
}

.options {
  padding: 0 20px;

  &:before {
    content: "";
    display: block;
    width: 31px;
    height: 5px;
    margin: 0 auto 13px;
    background: #808080;
    border-radius: 4px;
  }
}

.options-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-weight: 700;

  .options-title {
    font-size: 22px;
  }
}

.places {
  position: relative;
  min-height: 30vh;
  margin-top: 15px;
  color: #363636;
  text-align: left;

  .add-place_button {
    position: absolute;
    right: 20px;
    bottom: 0;
    width: 40px;
    height: 40px;
    color: #7D7878;
    font-size: 36px;
    background: rgba(233, 240, 249, .5);
    border: none;
    border-radius: 50px;
  }
}

.menu-item {
  color: #787878;
  font-size: 10px;
  list-style: none;
}