@import '../../../styles/variables';
.traffic-condition{
  display: flex;
  align-items: center;
  margin: 0;
  margin-right: 30px;
  padding: 0;
}

.traffic-condition__icon {
  width: 50px;
  height: 43px;
}

.traffic-condition__info{

}

.traffic-condition__info-item{
  margin-left: 0;
  color: $off-black;
  font-size: 18px;
  font-family: 'PT Sans', sans-serif;
  line-height: 16px;
  letter-spacing: .00636364em;
}

.green{
  color: $green;
}
