@import '../../../variables';
.traffic-condition{
  margin: 0;
  margin-right: 31px;
  padding: 0;
}

.traffic-condition__icon {
  width: 50px;
  height: 43px;
  margin-top: 2px;
  margin-right: 12px;
}

.traffic-condition__info{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.traffic-condition__info-item{
  margin-left: 0;
  color: $off-black;
  font-size: 18px;
  line-height: 16px;
  letter-spacing: .00636364em;
}

.green{
  color: $green;
}
