@import '../../styles/variables';

.bp {
  &-wrapper {
    display: flex;
    flex-direction: column;
    height: calc(100vh - #{$top-menu-height});
    max-height: calc(100vh - #{$top-menu-height});
    margin-top: 10px;
    padding: 0 20px;
    overflow: scroll;
  }
  &-place-photo-wrapper {
    display: flex;
    justify-content: space-between;
  }
  &_back-btn {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;

    &::before {
      display: inline-block;
      content: '';
      width: 15px;
      height: 15px;
      vertical-align: middle;
      border-top: 3px solid #FEBA00;
      border-left: 3px solid #FEBA00;
      transform: rotate(-45deg);
    }
  }

  &__title {
    margin-top: 20px;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
  }

  &-info {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-top: 20px;
    &_text {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 20px;
      &__description {
        font-family: 'Roboto', sans-serif;

        &::before {
          content: 'Description:';
          margin-right: 10px;
        }
      }
      &__address {
        font-family: 'Roboto', sans-serif;

        &::before {
          content: 'Address:';
          margin-right: 10px;
        }
      }
      &__phone {
        margin-right: 20px;
        &::before {
          content: "☎";
        }
      }
    }
    &__photo {
      object-fit: cover;
      width: 200px;
      height: 200px;
      margin-bottom: 20px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    &__categories {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
  &-places {
    display: flex;
    flex-basis: 45%;
    flex-direction: column;
    justify-content: space-between;
  }
  &-photos {
    display: flex;
    flex-basis: 45%;
    justify-content: space-between;
    align-items: center;
  }
}