.building-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(.1, .1, .1, .87);
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.5em;
  }