@import "../../../../styles/variables";

.dialogue-list{

  &__item{
    display: flex;
    justify-content: space-between;
    height: 43px;
    margin-bottom: 20px;
    font-family: SF Compact Text, sans-serif;
  }

  &__img-content-flexb{
    display: flex;
    flex-direction: row;
  }

  &__img-container{
    margin: 0;
    width: 40px;
    height: 40px;
    align-self: center;
  }

  &__content-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3px 0 3px 12px;
    text-align: left;
    flex-grow: 1;
  }

  &__name{
    font-weight: 600;
    font-size: 17px;
  }

  &__preview{
    color: $grey;
    font-size: 15px;
  }

  &__info-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__time{
    color: $grey;
    font-size: 13px;
  }



}