@import '../../../styles/variables';

.current-time{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 46px;
}

.current-time{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.current-time__main{
  margin-right: 0;
  padding-right: 0;
  color: #000000;
  font-size: 44px;
  font-family: 'PT Sans', sans-serif;
  line-height: 20px;
  letter-spacing: .00636364em;
  text-align: right;
}

.current-time__day{
  justify-content: flex-end;
  margin-top: 12px;
  color: $black;
  font-size: 22px;
  font-family: 'PT Sans', sans-serif;
  line-height: 16px;
  letter-spacing: .00636364em;
}