@import '../../styles/variables';

.container {
    margin: auto;
}
.newsPage__header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    height: 215px;
    padding: 44px 20px 15px;
    background: url('../../img/NewsPage/news-menu-bg.svg');
    background-repeat: no-repeat;
}
.newsPage__header__items {
    display: flex;
    justify-content: space-between;
}
.newsPage__header__items__menu {
    position: relative;
    width: 5px;
    height: 5px;
    background-color: $white;
    border-radius: 50%;
}
.newsPage__header__items__menu:before, .newsPage__header__items__menu:after {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: inherit;
    border-radius: inherit;
    content: "";
}
.newsPage__header__items__menu:before {
    top: 10px;
}
.newsPage__header__items__menu:after {
    top: 20px;
}
.newsPage__header__text__link {
    margin: 0;
    padding-bottom: 8px;
    color: $dark-grey;
    font-weight: 600;
    font-size: 32px;
    font-family: 'SF Compact Text';
    text-align: left;
}
.newsPage__menu {
    position: relative;
    z-index: 10;
    margin-top: -15px;
    padding: 30px 8px 0px;
    background-color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.newsPage__menu__buttons {
    display: flex;
    justify-content: space-around;
    background-color: $white;
}
.newsPage__menu__button {
    padding: 7px 17px;
    background-color: $blue;
    border-radius: 8px;
}
.newsPage__menu__button__link {
    color: $white;
    font-size: 14px;
    letter-spacing: -.014em;
    text-decoration: none;
}