@import '../../styles/reset';
@import "../../styles/variables";


.main-page {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 91px);
  max-height: 100vh;
  overflow: hidden;
}

.video-container{
  display: flex;
  justify-content: space-between;
}

.mainPage-MainVideo{
  width: 100%;
}

.grid-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 0 20px 0 20px;
}
.left-sidebar {
  width: 20%;
  height: 100%;
  padding: 0 20px 0 0;
}
.right-sidebar {
  width: 20%;
  height: 100%;
  padding: 0 15px 0 0;
}
.main-section__width60 {
 width: 60%;
}
.main-section__width80 {
  width: 80%;
}
.tempopary {
  width: 100%;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track-piece {
  width: 2px;
  background-color: $light-grey;
  border-right: 1px solid white;
  border-left: 4px solid white;
}

::-webkit-scrollbar-thumb {
  background-color: $almost-black;
  border-radius: 3px;
}