.sidebarItem {
  color: rgba(.1, .1, .1, .87);
  font-weight: 400;
  font-size: 1rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.5em;
  text-decoration: none;
  text-underline: none;
}
