@import '../../../styles/variables';
.messages {
    display: flex;
    justify-content: space-between;
    height: $messages-height;
    margin-bottom: 0;
    padding: 13px 23px;
    overflow-x: scroll;
}
.messages__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}
.messages__item__photo {
    width: 70px;
    height: 70px;
    margin-right: 14px;
    border-radius: 50%;
}
.messages__item__text {
    box-sizing: border-box;
    width: 261px;
    height: 100%;
    margin-left: 10px;
    padding: 18px 20px;
    font-size: 16px;
    line-height: 1.4;
    text-decoration: none;
    background-color: $white;
    border-radius: 12px;
}
.messages__button {
    padding:13px 39px; 
    color:#a9e8e8; 
    text-align:center; 
    background-color:#3bb7c7; 
    border:solid 1px #720013; 
    border-radius: 17px; 
    box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
}
.messages__button:hover {
    cursor: pointer;
}