@import '../../../styles/variables';
.messages {
    padding: 13px 23px;
    display: flex;
    justify-content: space-between;
    height: 123px;
    margin-bottom: 0;
}
.messages__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}
.messages__item__photo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 14px;
}
.messages__item__text {
    padding: 18px 20px;
    margin-left: 10px;
    width: 261px;
    font-size: 16px;
    height: 100%;
    box-sizing: border-box;
    text-decoration: none;
    line-height: 1.4;
    border-radius: 12px;
    background-color: $white;
}
.messages__button {
    padding:13px 39px; 
    text-align:center; 
    border-radius: 17px; 
    border:solid 1px #720013; 
    color:#a9e8e8; 
    background-color:#3bb7c7; 
    box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
}
.messages__button:hover {
    cursor: pointer;
}