.MainVideo{
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 20px;
}

.MainVideo-gif{
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 5px;

}
