@import '../../styles/variables';

.MainVideo{
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: calc(100vh - #{$top-menu-height} - #{$messages-height} - 30px);
  padding-bottom: 20px;
}

.MainVideo-gif{
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 5px;

}
