@import '../../../styles/variables';
.menu {
    display: flex;
    justify-content: space-between;
    width: 31%;
    height: 51px;
    margin: 0;
}
.menu-hamburger{
    display: block;
    margin-right: 2%;
    margin-left: 0;
}
.menu-hamburger:hover{
    cursor: pointer;
}
a {
    color: $black;
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;
    line-height: 16px;
    letter-spacing: .00636364em;
    text-decoration: none;
}
.menu-visible {
    display: flex;
    justify-content: flex-start;
    width: 75%;
    height: auto;
    margin: 0;
    opacity: 1;
    transition: .5s;
}
.menu__item{
    margin-right: 5%;
    margin-left: 5%;
    text-align: center;
}

.menu-hidden {
    visibility: hidden;
    opacity: 0;
    transition: opacity .5s ease-in-out;
}
$icon_classes: (
    'icon': 'menu__icon',
    'crossed': 'menu__icon-crossed',
    'crossed-reverse': 'menu__icon-crossed-reverse'
    );
.menu__icon {
    width: 60px;
    height: 5px;
    margin: 9px 9px;
    background-color: black;
    border-radius: 2px;
    transition: .5s;
}
.menu__icon-crossed {
    transform: rotate(45deg) translate(-5px, -5px);
    transform-origin: top left;
}
.menu__icon-crossed-reverse {
    transform: rotate(-45grad) translate(7px, -36px);
    transform-origin: bottom right;
}
.menu__icon.menu-visible{
    background: #FEBA00;
}

.menu-item_icon {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.menu-item_text {
    margin-top: 5px;
    font-size: 18px;
    text-align: center;
}

.place-title__visible{
    display: flex;
    align-items:center;
    font-weight: bold;
    font-size: 30px;
    font-family: 'PT Sans', sans-serif;
    letter-spacing: .2em;
    text-align: center;
    text-transform: uppercase;
    opacity: 1;
    transition: opacity .5s ease-out;
}

.place-title__hidden{
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: opacity .5s ease-out;
}