@import '../../styles/variables';

.create-chat{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100vh;
  margin: 0;
  padding-bottom: 81.5px;

  &__content {
    padding: 0 20px;
  }

  &__title-input {
    box-sizing: border-box;
    width: 100%;
    margin: 20px 0;
    padding: 10px 10px;
    font-size: 16px;
    border: 1px solid hsl(0,0%,80%);
    border-radius: 4px;
    outline-color: #2684FF;

    &:focus {
      box-shadow: 0 0 0 1px #2684FF;
    }
  }

  &__submit-button{
    @include button-reset;
    margin-top: 20px;
    padding: 10px 70px;
    background-color: $light-blue;
    border-radius: 12px;

    .button-link {
      color: $white;
      font-size: 20px;
      font-family: SF UI Text, sans-serif;
      text-decoration: none;
      background-color: $light-blue;
      border: 0;
    }

    &:active {
      transform: translateY(1px);
      filter: saturate(150%);
    }

    &:focus{
      color: $message-blue;
      background-color: $white;
      border: 2px solid $message-blue;
    }
  }
}

.multi-select{
  margin-top: 8px;
}