.contact-list{

  &__item {
    display: flex;
    align-items: center;
    height: 70px;
    margin: 5px 0;
    padding: 0 20px;
    border-radius: 8px;
    -webkit-box-shadow: 6px 4px 4px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 6px 4px 4px 0 rgba(0,0,0,.1);
    box-shadow: 6px 4px 4px 0 rgba(0,0,0,.1);
  }

  &__img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-weight: 700;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    background-color: #a9e8e8;
    border-radius: 50%;
  }

  &__text-container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    margin: 15px 0;
    padding-left: 20px;
    font-family: "SF Compact Text", sans-serif;

    p{
      margin: 0 5px 0 0;
    }
  }

  &__names{
    display: flex;
    font-weight: bold;
    font-size: 18px;
  }

  &__location{
    align-self: start;
    color: #979797;
    font-weight: bold;
    font-size: 15px;
  }
}





