
.parallax-container{
  width: 375px;
  height: 100vh;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #7d7d7d;
  perspective: 1px;
}

.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.parallax__layer--static {
  padding: 555px 0;
  top: 224px;
  background-color: #bcbcbc;
  transform: translateZ(0);
}

.parallax__layer--parallax-header{
  // scale factor calculation (to maintain original element size):
  // 1 + (translateZ * -1) / perspective
  height: 224px;
  top: -256px;
  transform: translateZ(-1px) scale(2);
}
